body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.calculator-title {
  text-align: center;
}

.calculator-form {
  margin: 20px auto;
  text-align: center;
}

.calculator-form-label,
.calculator-form-select,
.calculator-form-input {
  margin: 5px;
}

.calculator-form-select,
.calculator-form-input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.calculator-form-btn {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.calculator-form-btn:hover {
  background-color: #3e8e41;
}

.calculator-result {
  text-align: center;
  font-size: 24px;
  margin: 20px auto;
}

.calculator-app-logo {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 10px;
  left: 10px;
}
